.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox__gallery{
    margin-top: -70px;
    display: flex;
    justify-content: space-around;
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 6%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
.thumbnail {
    max-height: 400px;
  }
  @media(max-width:1500px){
    .thumbnail {
        max-height: 300px;
      }
      .lightbox__gallery {
        margin-top: -40px;
        display: flex;
        justify-content: space-around;
        padding: 0 60px;
    }
  }
  @media(max-width:1200px){
    .thumbnail {
        max-height: 220px;
      }
  }
  @media(max-width:900px){
    .thumbnail {
        max-height: 170px;
      }
      .lightbox__gallery {
        padding: 0;
    }
  }
  @media(max-width:900px){
    .thumbnail {
        max-height: 150px;
      }
      .lightbox__gallery {
        margin-top: 0;
        justify-content: space-between;
    }
    .lightbox img {
        margin-top: 16%;
    }
    }
    @media(max-width:700px){
        .thumbnail {
            max-height: 110px;
          }
          .lightbox img {
            margin-top: 26%;
        }
    }
    @media(max-width:500px){
        .thumbnail {
            max-height: 90px;
        }
    }