.content__pages {
  padding: 10% 0 7% 0;
  width: 90%;
}
.content__pages h1 {
  color: #000000;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
main {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  padding: 0 40px;
}
b {
  font-weight: 700;
}
li{
    margin: 15px 0 0 30px;
    list-style-type: disc;
    
}
li ul li{
  list-style-type: circle;
}
.indent{
    margin-top: 34px;
    width: 90%;
}
.indent a{
  color: #000;
}
.indent h2{
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}
.pages__block{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.pages__block-img{
    height: 170px;
}
.indent:last-child{
    margin-bottom: 40px;
}
@media(max-width:1500px){
    .content__pages {
        padding: 13% 0 7% 0;
      }
}
@media(max-width:900px){
    .content__pages {
        padding: 16% 0 7% 0;
      }
}
@media(max-width:700px){
    main {
        padding: 0 20px;
      }
      .content__pages {
        padding: 22% 0 7% 0;
      }
      .pages__block {
        width: 100%;
    }
}
@media(max-width:500px){
    .content__pages h1 {
        font-size: 32px;
    }
    main{
        font-size: 14px;
    }
    .pages__block{
        font-size: 14px;
    }
    .content__pages {
        padding: 30% 0 7% 0;
      }
      .pages__block {
        flex-direction: column;
      }
      .pages__block-img {
        height: 240px;
        margin-top: 20px;
      }
      .indent{
        width: 100%;
    }
}
@media(max-width:360px){
    .content__pages {
        padding: 38% 0 7% 0;
    }

}
