html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}

header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
main {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
}
.nav {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 44px;
}
.nav__logo-img {
  height: 50px;
}
.nav__links {
  margin-left: auto;
}
.nav__links a:hover {
  color: #d8000d;
  transition-duration: 0.4s;
}
.nav__phone a:hover {
  color: #d8000d;
  transition-duration: 0.4s;
}
.nav_title {
  color: #080808;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0 20px;
}
.nav__phone {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.nav__phone .nav_title {
  letter-spacing: 1px;
}
.nav__logo-media {
  padding: 15px 40px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content__main {
  padding: 25% 0;
  background-size: cover;
  background-image: url(image/5trans.png);
}
.content__name {
  align-items: center;
  text-align: center;
}
.content__name h1 {
  color: #000000;
  font-size: 54px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  font-weight: 700;
}
.content__name h2 {
  color: #000000;
  font-size: 31px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  font-weight: 600;
  width: 700px;
  margin: 30px auto 0 auto;
}
.content__about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #e0ddd778;
  padding: 40px 20px 56px 20px;
}
.content__title {
  color: #000000;
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.content__description {
  color: #000000;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
}
.content-left {
  width: 400px;
  margin: 20px 0;
}
.content-center {
  width: 600px;
  margin: 20px auto;
}
.content__description-button {
  color: #d8000d;
  font-size: 16px;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  font-weight: 500;
  padding: 5px 15px;
  border-width: 2px;
  text-align: center;
  background-position: center center;
  border-color: #d8000d;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
.content__description-button:hover {
  background-color: #d8000d;
  border-color: #d8000d;
  color: #ffffff;
}
.content__works {
  display: flex;
  margin: 60px auto;
  padding: 0 44px;
}
.content__works-img {
  display: flex;
  margin: 0 auto;
}
.content__works-text {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.img__item {
  height: 300px;
  margin-left: 10px;
}

.content__advantage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 20px 56px 20px;
  background-color: #e0ddd778;
}
.advantage__item {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  color: #000000;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  font-weight: 500;
  background-color: white;
  padding: 5px 30px;
  margin-top: 26px;
  width: 900px;
  border-radius: 5px;
  box-shadow: 5px 5px 1px 2px rgba(143, 143, 143, 0.1);
}
.advantage__item-img {
  margin-right: 24px;
}
.advantage__item-svg {
  height: 64px;
}
.content__agents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 60px 0 74px 0;
  padding: 0 44px;
}
.content__agents h2 {
  color: #000000;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 24px;
}

.google__map {
  width: 100%;
  height: 900px;
}
.contact__block {
  display: flex;
  justify-content: space-between;
  padding: 130px 0 40px 0;
}
.contact__block h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer {
  background-color: #31312f78;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 44px;
}
.footer__name {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.footer__name:last-child {
  text-align: right;
}
.footer-container {
  width: 33%;
}
.footer-container a {
  color: #ffffff;
  cursor: pointer;
}
/* burger */

.burger__menu {
  display: none;
}
.burger__menu {
  background-color: rgba(255, 255, 255, 0.95);
}
nav {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
}
body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
body .burger + label {
  position: absolute;
  top: 33px;
  right: 30px;
  height: 20px;
  width: 24px;
  z-index: 5;
}
body .burger + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}
body .burger + label span:first-child {
  top: 4px;
}
body .burger + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body .burger:checked + label span {
  opacity: 0;
  top: 50%;
}
body .burger:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body .burger:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body .burger ~ nav {
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body .burger ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  list-style: none;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  list-style: none;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
  padding-bottom: 10px;
  list-style: none;
}
li .nav_title:hover {
  color: #d8000d;
  transition-duration: 0.4s;
}

@media (max-width: 1500px) {
  .content__works {
    flex-wrap: wrap;
  }
  .content__works-text {
    align-items: center;
    margin: 0;
  }
  .google__map {
    height: 600px;
  }
}
@media (max-width: 1300px) {
  .content__works {
    align-items: center;
    justify-content: center;
  }
  .content__works-text {
    margin-bottom: 40px;
  }
  .content-left {
    width: 600px;
    text-align: center;
  }
}
@media (max-width: 1150px) {
  .burger__menu {
    display: block;
  }
  .nav__links {
    display: none;
  }
  .nav__phone {
    display: none;
  }
  .nav_title {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
  .img__item {
    height: 240px;
  }
}
@media (max-width: 900px) {
  .advantage__item {
    width: 600px;
  }
  .content__name h1 {
    font-size: 40px;
  }
  .content__name h2 {
    font-size: 23px;
  }
  .content__title {
    font-size: 28px;
  }
  .content__description {
    font-size: 14px;
  }
  .content__description-button {
    font-size: 14px;
  }
  .advantage__item {
    font-size: 15px;
  }
  .content__agents h2 {
    font-size: 16px;
  }
  .footer__name {
    font-size: 12px;
  }
  .img__item {
    height: 180px;
  }
  .nav__logo-media {
    padding: 15px 20px;
  }
  .footer {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .content__name h1 {
    font-size: 34px;
  }
  .content__main {
    padding: 25% 20px;
  }
  .content__name h2 {
    font-size: 18px;
    width: 100%;
  }
  .content__title {
    font-size: 22px;
  }
  .content__description .content__description-button {
    font-size: 12px;
  }
  .advantage__item {
    font-size: 12px;
  }
  .advantage__item-svg {
    height: 48px;
  }
  .content__agents h2 {
    font-size: 13px;
  }
  .advantage__item {
    height: 65px;
  }
  .content__agents {
    margin: 40px 0 54px 0;
  }
  .img__item {
    height: 110px;
  }
  .content-center {
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
  }
  .content-left {
    width: 100%;
  }
  .advantage__item {
    width: 100%;
  }
  .content__advantage {
    padding: 40px 30px 56px 30px;
  }
  .nav__logo-img {
    height: 30px;
  }
  .footer-container {
    width: 100%;
  }
  .nav__logo-media {
    position: absolute;
    top: 15px;
  }
  .footer__name {
    font-size: 10px;
  }
  body .burger ~ nav > ul {
    top: 18%;
  }
  .contact__block {
    justify-content: flex-start;
    flex-direction: column;
}
.google__map {
  height: 400px;
}
}
@media (max-width: 500px) {
  .content__main {
    padding: 32% 20px;
  }
  .content__name h1 {
    font-size: 22px;
  }
  .content__name h2 {
    font-size: 15px;
  }
  .content__title {
    font-size: 16px;
  }
  .content__description {
    font-size: 12px;
  }
  .content__description-button {
    font-size: 12px;
    width: 200px;
  }
  .content__about {
    padding: 30px 20px 40px 20px;
  }
  .content__works {
    margin: 40px auto;
  }
  .content__advantage {
    padding: 30px 30px 40px 30px;
  }
  .advantage__item {
    font-size: 9px;
  }
  .advantage__item-svg {
    height: 38px;
  }
  .advantage__item {
    height: 60px;
    margin-top: 17px;
    padding: 5px 15px;
  }
  .content__agents h2 {
    font-size: 12px;
    margin-top: 17px;
  }
  .footer {
    height: 80px;
  }
  .footer__name {
    font-size: 7px;
  }
  .nav_title {
    font-size: 22px;
  }
  .nav_title {
    padding: 0;
  }
  body input ~ nav > ul > li > a {
    padding: 0;
  }
}
@media (max-width: 450px) {
  .img__item {
    height: 80px;
  }
  .content__main {
    padding: 50% 20px 30% 20px;
  }
}
